* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App .calendar {
  background-color: #efefef;
  padding: 1rem;
  width: 340px;
  display: grid;
  gap: 1rem;
}

.year {
  display: grid;
  place-items: center;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-auto-rows: minmax(30px, 1fr);
  gap: 1rem;
}

.days .normal {
  display: inline-block;
  background-color: #dbdbdb;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.today {
  background-color: powderblue !important;
}

.sunday {
  color: red !important;
}

.prev,
.next {
  opacity: 0.35;
  cursor: default !important;
}
